!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Your Weekly Füd Digest
    :css
      .ReadMsgBody {width: 100%; background-color: #ffffff;}
      .ExternalClass {width: 100%; background-color: #ffffff;}
      body	 {width: 100%; background-color: #ffffff; margin:0; padding:0; -webkit-font-smoothing: antialiased;font-family: Georgia, Times, serif}
      table {border-collapse: collapse;}

      @media only screen and (max-width: 640px)  {
      				body[yahoo] .deviceWidth {width:440px!important; padding:0;}
      				body[yahoo] .center {text-align: center!important;}
      		}

      @media only screen and (max-width: 479px) {
      				body[yahoo] .deviceWidth {width:280px!important; padding:0;}
      				body[yahoo] .center {text-align: center!important;}
      		}
  %body{:leftmargin => "0", :marginheight => "0", :marginwidth => "0", :style => "font-family: Georgia, Times, serif", :topmargin => "0", :yahoo => "fix"}
    / Wrapper
    %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
      %tr
        %td{:bgcolor => "#ffffff", :style => "padding-top:20px", :valign => "top", :width => "100%"}
          / Start Header
          %table.deviceWidth{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "margin:0 auto;", :width => "580"}
            %tr
              %td{:bgcolor => "#ffffff", :width => "100%"}
                / Logo
                %table.deviceWidth{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0"}
                  %tr
                    %td.center{:style => "padding:10px 20px"}
                      %a{:href => "#"}
                        = image_tag("logo.png")
                / End Logo
                / Nav
                %table.deviceWidth{:align => "right", :border => "0", :cellpadding => "0", :cellspacing => "0"}
                  %tr
                    %td.center{:style => "font-size: 13px; color: #272727; font-weight: light; text-align: right; font-family: Georgia, Times, serif; line-height: 20px; vertical-align: middle; padding:10px 20px; font-style:italic"}
                      %a{:href => "#", :style => "text-decoration: none; color: #3b3b3b;"} Products
                      \   
                      %a{:href => "#", :style => "text-decoration: none; color: #3b3b3b;"} Services
                      \   
                      %a{:href => "#", :style => "text-decoration: none; color: #3b3b3b;"} Pricing
                      \   
                      %a{:href => "#", :style => "text-decoration: none; color: #3b3b3b;"} Contact
                / End Nav
          / End Header
          / One Column
          %table.deviceWidth{:align => "center", :bgcolor => "#eeeeed", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "margin:0 auto;", :width => "580"}
            %tr
              %td{:bgcolor => "#ffffff", :style => "padding:0", :valign => "top"}
                %a{:href => "#"}
                  %img.deviceWidth{:alt => "", :border => "0", :src => "https://www.emailonacid.com/images/blog_images/Emailology/2013/free_template_1/headliner.jpg", :style => "display: block; border-radius: 4px;"}/
            %tr
              %td{:bgcolor => "#eeeeed", :style => "font-size: 13px; color: #959595; font-weight: normal; text-align: left; font-family: Georgia, Times, serif; line-height: 24px; vertical-align: top; padding:10px 8px 10px 8px"}
                %table
                  %tr
                    %td{:style => "padding:0 10px 10px 0", :valign => "top"}
                      %img{:align => "left", :alt => "", :border => "0", :src => "https://www.emailonacid.com/images/blog_images/Emailology/2013/free_template_1/1.jpg"}/
                    %td{:style => "padding:0 10px 10px 0", :valign => "middle"}
                      %a{:href => "#", :style => "text-decoration: none; color: #272727; font-size: 16px; color: #272727; font-weight: bold; font-family:Arial, sans-serif "} One Column
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                %b{:style => "color: #5b5b5b;"} Ut enim ad minim veniam, quis nostrud.
                Exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          / End One Column
          %div{:style => "height:15px;margin:0 auto;"}  
          / spacer
          / 2 Column Images & Text Side by SIde
          %table.deviceWidth{:align => "center", :bgcolor => "#202022", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "margin:0 auto;", :width => "580"}
            %tr
              %td{:style => "padding:10px 0"}
                %table.deviceWidth{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "49%"}
                  %tr
                    %td.center{:align => "center", :style => "padding-top:20px", :valign => "top"}
                      %a{:href => "#"}
                        %img.deviceWidth{:alt => "", :border => "0", :src => "https://www.emailonacid.com/images/blog_images/Emailology/2013/responsive4.jpg", :style => "border-radius: 4px; width: 267px; display: block;", :width => "267"}/
                %table.deviceWidth{:align => "right", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "49%"}
                  %tr
                    %td{:style => "font-size: 12px; color: #959595; font-weight: normal; text-align: left; font-family: Georgia, Times, serif; line-height: 24px; vertical-align: top; padding:10px 8px 10px 8px"}
                      %table
                        %tr
                          %td{:style => "padding:0 10px 10px 5px", :valign => "top"}
                            %img{:align => "left", :alt => "", :border => "0", :src => "https://www.emailonacid.com/images/blog_images/Emailology/2013/free_template_1/2.jpg"}/
                          %td{:style => "padding:0 10px 10px 0", :valign => "middle"}
                            %a{:href => "#", :style => "text-decoration: none; font-size: 16px; color: #ccc; font-weight: bold; font-family:Arial, sans-serif "} Two column - text right
                      %p{:style => "mso-table-lspace:0;mso-table-rspace:0; margin:0"}
                        Sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi.
                        %br/
                        %br/
                      %table{:align => "right", :width => "100"}
                        %tr
                          %td{:align => "center", :background => "https://www.emailonacid.com/images/blog_images/Emailology/2013/free_template_1/blue_back.jpg", :bgcolor => "#409ea8", :style => "padding:5px 0;background-color:#409ea8; border-top:1px solid #77d5ea; background-repeat:repeat-x"}
                            %a{:href => "", :style => "\r\n                                                        color:#ffffff;\r\n                                                        font-size:13px;\r\n                                                        font-weight:bold;\r\n                                                        text-align:center;\r\n                                                        text-decoration:none;\r\n                                                        font-family:Arial, sans-serif;\r\n                                                        -webkit-text-size-adjust:none;"}
                              Read More
            %tr
              %td{:bgcolor => "#fe7f00"}
                %div{:style => "height:6px"}  
          / End 2 Column Images & Text Side by SIde
          %div{:style => "height:15px;margin:0 auto;"}  
          / spacer
          / Two Column (Images Stacked over Text)
          %table.deviceWidth{:align => "center", :bgcolor => "#eeeeed", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "margin:0 auto;", :width => "580"}
            %tr
              %td.center{:style => "padding:10px 0 0 5px"}
                %table.deviceWidth{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "49%"}
                  %tr
                    %td{:align => "center"}
                      /
                        The paragraph tag is important here to ensure that this table floats properly in Outlook 2007, 2010, and 2013
                        To learn more about this fix check out this link: https://www.emailonacid.com/blog/details/C13/removing_unwanted_spacing_or_gaps_between_tables_in_outlook_2007_2010
                        This fix is used for all floating tables in this responsive template
                        The margin set to 0 is for Gmail
                      %p{:style => "mso-table-lspace:0;mso-table-rspace:0; margin:0"}
                        %a{:href => "#"}
                          %img.deviceWidth{:alt => "", :border => "0", :src => "https://www.emailonacid.com/images/blog_images/Emailology/2013/responsive7.jpg", :style => "border-radius: 4px; width: 267px", :width => "267"}/
                  %tr
                    %td{:style => "font-size: 12px; color: #959595; font-weight: normal; text-align: left; font-family: Georgia, Times, serif; line-height: 24px; vertical-align: top; padding:10px 8px 10px 8px"}
                      %table{:style => "border-bottom: 1px solid #333"}
                        %tr
                          %td{:style => "padding:0 10px 10px 0", :valign => "top"}
                            %img{:align => "left", :alt => "", :border => "0", :src => "https://www.emailonacid.com/images/blog_images/Emailology/2013/free_template_1/3.jpg"}/
                          %td{:style => "padding:0 10px 10px 0", :valign => "middle"}
                            %a{:href => "#", :style => "text-decoration: none; font-size: 16px; color: #363636; font-weight: bold; font-family:Arial, sans-serif "} Two column - text below
                      %p Velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
                %table.deviceWidth{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "49%"}
                  %tr
                    %td{:align => "center"}
                      %p{:style => "mso-table-lspace:0;mso-table-rspace:0; margin:0"}
                        %a{:href => "#"}
                          %img.deviceWidth{:alt => "", :border => "0", :src => "https://www.emailonacid.com/images/blog_images/Emailology/2013/responsive5.jpg", :style => "border-radius: 4px; width: 267px", :width => "267"}/
                  %tr
                    %td{:style => "font-size: 12px; color: #959595; font-weight: normal; text-align: left; font-family: Georgia, Times, serif; line-height: 24px; vertical-align: top; padding:10px 8px 10px 8px"}
                      %table{:style => "border-bottom: 1px solid #333"}
                        %tr
                          %td{:style => "padding:0 10px 10px 0", :valign => "top"}
                            %img{:align => "left", :alt => "", :border => "0", :src => "https://www.emailonacid.com/images/blog_images/Emailology/2013/free_template_1/4.jpg"}/
                          %td{:style => "padding:0 10px 10px 0", :valign => "middle"}
                            %a{:href => "#", :style => "text-decoration: none; font-size: 16px; color: #363636; font-weight: bold; font-family:Arial, sans-serif "} Two column - text below
                      %p Iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis.
          / End Two Column (Images Stacked over Text)
          %div{:style => "height:15px;margin:0 auto;"}  
          / spacer
          / Dark Background, Three Column Images
          / 3 Small Images
          %table.deviceWidth{:align => "center", :bgcolor => "#202022", :cellpadding => "0", :cellspacing => "0", :style => "margin:0 auto;", :width => "580"}
            %tr
              %td{:style => "padding:10px 0 0 10px"}
                %table
                  %tr
                    %td{:style => "padding:0 10px 10px 0", :valign => "top"}
                      %img{:align => "left", :alt => "", :border => "0", :src => "https://www.emailonacid.com/images/blog_images/Emailology/2013/free_template_1/5.jpg"}/
                    %td{:style => "padding:0 10px 10px 0", :valign => "middle"}
                      %a{:href => "#", :style => "text-decoration: none; font-size: 16px; color: #eee; font-weight: bold; font-family:Arial, sans-serif "} Three column - text below
            %tr
              %td{:valign => "top"}
                %table.deviceWidth{:align => "left", :cellpadding => "0", :cellspacing => "0", :width => "32%"}
                  %tr
                    %td{:align => "center", :style => "padding:10px 0", :valign => "top"}
                      %p{:style => "mso-table-lspace:0;mso-table-rspace:0; margin:0"}
                        %a{:href => "#"}
                          %img.deviceWidth{:alt => "", :border => "0", :src => "https://www.emailonacid.com/images/blog_images/Emailology/2013/responsive18.jpg", :style => "border-radius: 4px; width: 170px;", :width => "170"}/
                  %tr
                    %td{:style => "padding:0 10px 20px 10px"}
                      %a{:href => "#", :style => "text-decoration: none; font-size: 14px; color: #eee; font-weight: bold; font-family:Arial, sans-serif "} Milk Headline
                      %p{:style => "color:#ddd; text-align:left; font-size: 10px; line-height:17px"} Iste natus error sit volu ptatem accusa tium dolor emque lauda ntium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis.
                      %table{:align => "left", :width => "90"}
                        %tr
                          %td{:align => "center", :bgcolor => "#c8c8ca", :style => "padding:2px 0 5px 0;background-color:#c8c8ca; border-top:1px solid #eee; background-repeat:repeat-x"}
                            %a{:href => "", :style => "\r\n                                                                color:#333;\r\n                                                                font-size:12px;\r\n                                                                font-weight:bold;\r\n                                                                text-align:center;\r\n                                                                text-decoration:none;\r\n                                                                font-family:Arial, sans-serif;\r\n                                                                -webkit-text-size-adjust:none;"}
                              Read More
                / End Image 1
                %table.deviceWidth{:align => "left", :cellpadding => "0", :cellspacing => "0", :width => "32%"}
                  %tr
                    %td{:align => "center", :style => "padding:10px 0", :valign => "top"}
                      %p{:style => "mso-table-lspace:0;mso-table-rspace:0; margin:0"}
                        %a{:href => "#"}
                          %img.deviceWidth{:alt => "", :border => "0", :src => "https://www.emailonacid.com/images/blog_images/Emailology/2013/responsive20.jpg", :style => "border-radius: 4px; width: 170px;", :width => "170"}/
                  %tr
                    %td{:style => "padding:0 10px 20px 10px"}
                      %a{:href => "#", :style => "text-decoration: none; font-size: 14px; color: #eee; font-weight: bold; font-family:Arial, sans-serif "} Bon Bon Headline
                      %p{:style => "color:#ddd; text-align:left; font-size: 10px; line-height:17px"} Iste natus error sit volu ptatem accusa tium dolor emque lauda ntium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis.
                      %table{:align => "left", :width => "90"}
                        %tr
                          %td{:align => "center", :bgcolor => "#c8c8ca", :style => "padding:2px 0 5px 0;background-color:#c8c8ca; border-top:1px solid #eee; background-repeat:repeat-x"}
                            %a{:href => "", :style => "\r\n                                                                color:#333;\r\n                                                                font-size:12px;\r\n                                                                font-weight:bold;\r\n                                                                text-align:center;\r\n                                                                text-decoration:none;\r\n                                                                font-family:Arial, sans-serif;\r\n                                                                -webkit-text-size-adjust:none;"}
                              Read More
                / End Image 2
                %table.deviceWidth{:align => "left", :cellpadding => "0", :cellspacing => "0", :width => "32%"}
                  %tr
                    %td{:align => "center", :style => "padding:10px 0", :valign => "top"}
                      %p{:style => "mso-table-lspace:0;mso-table-rspace:0; margin:0"}
                        %a{:href => "#"}
                          %img.deviceWidth{:alt => "", :border => "0", :src => "https://www.emailonacid.com/images/blog_images/Emailology/2013/free_template_1/360.jpg", :style => "border-radius: 4px; width: 170px", :width => "170"}/
                  %tr
                    %td{:style => "padding:0 10px 20px 10px"}
                      %a{:href => "#", :style => "text-decoration: none; font-size: 14px; color: #eee; font-weight: bold; font-family:Arial, sans-serif "} 360 Headline
                      %p{:style => "color:#ddd; text-align:left; font-size: 10px; line-height:17px"} Iste natus error sit volu ptatem accusa tium dolor emque lauda ntium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis.
                      %table{:align => "left", :width => "90"}
                        %tr
                          %td{:align => "center", :bgcolor => "#c8c8ca", :style => "padding:2px 0 5px 0;background-color:#c8c8ca; border-top:1px solid #eee; background-repeat:repeat-x"}
                            %a{:href => "", :style => "\r\n                                                                color:#333;\r\n                                                                font-size:12px;\r\n                                                                font-weight:bold;\r\n                                                                text-align:center;\r\n                                                                text-decoration:none;\r\n                                                                font-family:Arial, sans-serif;\r\n                                                                -webkit-text-size-adjust:none;"}
                              Read More
                / End Image 3
            %tr
              %td{:bgcolor => "#bdcc50"}
                %div{:style => "height:6px"}  
          / End 3 Small Images
          / Dark Background, Three Column Images
          %div{:style => "height:15px;margin:0 auto;"}  
          / spacer
          / 2 Column Images - text left
          %table.deviceWidth{:align => "center", :bgcolor => "#eeeeed", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "margin:0 auto;", :width => "580"}
            %tr
              %td{:style => "padding:10px 0"}
                %table.deviceWidth{:align => "right", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "49%"}
                  %tr
                    %td.center{:align => "right", :style => "padding:20px 10px 0 0", :valign => "top"}
                      %p{:style => "mso-table-lspace:0;mso-table-rspace:0; margin:0"}
                        %a{:href => "#"}
                          %img.deviceWidth{:alt => "", :border => "0", :src => "https://www.emailonacid.com/images/blog_images/Emailology/2013/responsive3.jpg", :style => "border-radius: 4px; width: 267px; display: block;", :width => "267"}/
                %table.deviceWidth{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "49%"}
                  %tr
                    %td{:style => "font-size: 13px; color: #959595; font-weight: normal; text-align: left; font-family: Georgia, Times, serif; line-height: 24px; vertical-align: top; padding:20px 0 20px 15px"}
                      %table
                        %tr
                          %td{:style => "padding:0 10px 15px 0", :valign => "top"}
                            %img{:align => "left", :alt => "", :border => "0", :src => "https://www.emailonacid.com/images/blog_images/Emailology/2013/free_template_1/6.jpg"}/
                          %td{:style => "padding:0 10px 10px 0", :valign => "middle"}
                            %a{:href => "#", :style => "text-decoration: none; font-size: 16px; color: #363636; font-weight: bold; font-family:Arial, sans-serif "} Two column - text left
                      %p{:style => "mso-table-lspace:0;mso-table-rspace:0; margin:0"}
                        Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores.
                        %br/
                        %br/
          / End 2 Column Images  - text left
          %div{:style => "height:25px;margin:0 auto;"}  
          / spacer
          / Blog Headlines
          %table.deviceWidth{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "margin:0 auto;", :width => "580"}
            %tr
              %td{:valign => "top"}
                %table
                  %tr
                    %td{:bgcolor => "#3c707e", :style => "color:#fff;font-size:12px;font-weight:bold;text-align:center;-webkit-text-size-adjust:none;padding:4px 8px;"} 4.12.13
              %td{:style => "font-size:11px;color:#656565;text-align:left;padding-left:8px;", :valign => "middle"}
                %a{:href => "https://www.emailonacid.com/blog/details/C13/emailology_vector_markup_language_and_backgrounds", :style => "font-size:14px;font-weight:bold;color:#000000;text-align:left;text-decoration:none;"} Vector Markup Language and Backgrounds in Outlook 2007+
                %br/
                Get your background to show up in flexible screen widths in Outlook.
            %tr
              %td  
            %tr
              %td{:valign => "top"}
                %table
                  %tr
                    %td{:bgcolor => "#3c707e", :style => "color:#fff;font-size:12px;font-weight:bold;text-align:center;-webkit-text-size-adjust:none;padding:4px 8px;"} 4.02.13
              %td{:style => "font-size:11px;color:#656565;text-align:left;padding-left:8px;", :valign => "middle"}
                %a{:href => "https://www.emailonacid.com/blog/details/C13/emailology_firing_blanks_with_outlook.com", :style => "text-decoration:none;font-size:14px;font-weight:bold;color:#000000;text-align:left;"} Firing Blanks with Outlook.com
                %br/
                Is your email showing up as a white screen in Outlook.com?  Here’s why.
            %tr
              %td  
            %tr
              %td{:valign => "top"}
                %table
                  %tr
                    %td{:bgcolor => "#3c707e", :style => "color:#fff;font-size:12px;font-weight:bold;text-align:center;-webkit-text-size-adjust:none;padding:4px 8px;"} 3.27.13
              %td{:style => "font-size:11px;color:#656565;text-align:left;padding-left:8px;", :valign => "middle"}
                %a{:href => "https://www.emailonacid.com/blog/details/C13/emailology_viewport_metatag_rendered_unusable", :style => "text-decoration:none;font-size:14px;font-weight:bold;color:#000000;text-align:left;"} Viewport Meta Tag Rendered Unusable
                %br/
                Is your email showing blank on the BlackBerry?  It might be your viewport tag...
            %tr
              %td  
            %tr
              %td{:valign => "top"}
                %table
                  %tr
                    %td{:bgcolor => "#3c707e", :style => "color:#fff;font-size:12px;font-weight:bold;text-align:center;-webkit-text-size-adjust:none;padding:4px 8px;"} 3.25.13
              %td{:style => "font-size:11px;color:#656565;text-align:left;padding-left:8px;", :valign => "middle"}
                %a{:href => "https://www.emailonacid.com/blog/details/C13/emailology_media_queries_demystified_min-width_and_max-width", :style => "text-decoration:none;font-size:14px;font-weight:bold;color:#000000;text-align:left;"} Media Queries Demystified: Min-Width and Max-Width
                %br/
                More complicated than they seem? Let’s break down MQ’s for beginners.
            %tr
              %td  
            %tr
              %td{:valign => "top"}
                %table
                  %tr
                    %td{:bgcolor => "#3c707e", :style => "color:#fff;font-size:12px;font-weight:bold;text-align:center;-webkit-text-size-adjust:none;padding:4px 8px;"} 3.21.13
              %td{:style => "font-size:11px;color:#656565;text-align:left;padding-left:8px;", :valign => "middle"}
                %a{:href => "https://www.emailonacid.com/blog/details/C13/emailology_media_queries_and_device_orientation", :style => "text-decoration:none;font-size:14px;font-weight:bold;color:#000000;text-align:left;"} Media Queries and Device Orientation
                %br/
                Identify your breakpoints with our research on the most popular device sizes...
          / end blog headlines
          %div{:style => "height:35px;margin:0 auto;"}  
          / spacer
          / 4 Columns
          %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
            %tr
              %td{:bgcolor => "#363636", :style => "padding:30px 0"}
                %table.deviceWidth{:align => "center", :border => "0", :cellpadding => "10", :cellspacing => "0", :style => "margin:0 auto;", :width => "580"}
                  %tr
                    %td
                      %table.deviceWidth{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "45%"}
                        %tr
                          %td.center{:style => "font-size: 11px; color: #f1f1f1; color:#999; font-family: Arial, sans-serif; padding-bottom:20px", :valign => "top"}
                            You are receiving this email because
                            %br/
                            1.) You're an awesome customer of "Company Name" or
                            %br/
                            2.) You subscribed via
                            %a{:href => "", :style => "color:#999;text-decoration:underline;"} our website
                            %br/
                            %br/
                            %br/
                            Want to be removed? No problem,
                            %a{:href => "", :style => "color:#999;text-decoration:underline;"} click here
                            and we won't bug you again.
                      %table.deviceWidth{:align => "right", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "40%"}
                        %tr
                          %td.center{:style => "font-size: 11px; color: #f1f1f1; font-weight: normal; font-family: Georgia, Times, serif; line-height: 26px; vertical-align: top; text-align:right", :valign => "top"}
                            %a{:href => ""}
                              %img{:alt => "RSS Feed", :border => "0", :height => "42", :src => "https://www.emailonacid.com/images/emails/5_13/footer_rss.gif", :title => "RSS Feed", :width => "42"}/
                            %a{:href => ""}
                              %img{:alt => "Twitter", :border => "0", :height => "42", :src => "https://www.emailonacid.com/images/emails/5_13/footer_twitter.gif", :title => "Twitter", :width => "42"}/
                            %a{:href => ""}
                              %img{:alt => "Vimeo", :border => "0", :height => "42", :src => "https://www.emailonacid.com/images/emails/5_13/footer_vm.gif", :title => "Vimeo", :width => "42"}/
                            %a{:href => ""}
                              %img{:alt => "Facebook", :border => "0", :height => "42", :src => "https://www.emailonacid.com/images/emails/5_13/footer_fb.gif", :title => "Facebook", :width => "42"}/
                            %br/
                            %a{:href => "#"}
                              %img{:alt => "", :border => "0", :src => "https://www.emailonacid.com/images/blog_images/Emailology/2013/footer_logo2.jpg", :style => "padding-top: 5px;"}/
                            %br/
                            %a{:href => "#", :style => "text-decoration: none; color: #848484; font-weight: normal;"} 555-555-5555
                            %br/
                            %a{:href => "#", :style => "text-decoration: none; color: #848484; font-weight: normal;"} email@email.com
          / End 4 Columns
    / End Wrapper
    %div{:style => "display:none; white-space:nowrap; font:15px courier; color:#ffffff;"}
      \- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
