%div#header= image_tag("logo.png", id: "logo")
%div#menu
  %div#plus_button +
%div#content
  %div.pantry
    %h1.subtitle Pantry
    %div.card.expired expired
    %div.card.soon soon
    %div.card.indate indate
  %div.fridge
    %h1.subtitle Fridge
    %div.card.expired expired
    %div.card.soon soon
    %div.card.indate indate
  %div.freezer
    %h1.subtitle Freezer
    %div.card.expired expired
    %div.card.soon soon
    %div.card.indate indate
%div#footer advertise your LinkedIn profiles here maties.