%div.user
  %img.avatar{:src => "/assets/avatar.jpg"}
  %h2.name Shawn Tok
  %div.info
    %p.postcode E14 8LX
    %p.phone +447546969432
    %p.ethnicity Alien
    %p.sexual-orientation Straight
    %div.row
      %i.icon-facebook>
      %i.icon-twitter>
      %i.icon-googleplus>
      %i.icon-pinterest>
      %i.icon-dribbble>
  %div.profile