$color-main: #568203;
$color-main-dark: #235000;
$color-main-light: #78a425;
$color-button: #3d4F55;
$color-button-dark: #1b2d33;
$color-button-light: #5f6f77;
$color-shadow: #333;
$color-subtitle: #0B3142;
$lato: 'Lato', sans-serif;
$comfortaa: 'Comfortaa', sans-serif;
$expired-red: #dd3322;
$soon-yellow: #ffaa22;
$indate-green: #78a425;

@import url("http://fonts.googleapis.com/css?family=Lato");
@import url("http://fonts.googleapis.com/css?family=Comfortaa");

$facebook: #3b5998;
$twitter: #00a0d1;
$gplus: #db4a39;
$pinterest: #c8232c;
$dribbble: #ea4c89;
$navy: #34495e;