@import "prequisites";

.foodbanks-container{
  .number{
    color: $color-button-light;
  }
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  @media (max-width: 600px) {
    width: 98%;
  }
  ul.banklist{
    width: 60%;
    float: left;
    display: inline;
    margin: 0;
    padding: 0;
    li {
      list-style: none;
      padding: 10px;
      margin: 10px 0;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
      h3{
        margin: 3px 0;
      }
    }
    li#other-search{
      background-color: $color-main-light;
      color: white;
      border-radius: 10px;
    }
  }
  .donating{
    width: 30%;
    float: right;
    display: inline;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    padding: 20px 10px;
  }
}

.foodbank-container{
  width: 600px;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;

  @media (max-width: 600px) {
    width: 98%;
  }
}
