.modal-wrap {
  &:before {
    content: "";
    background: rgba(0,0,0,0.6);
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  // Closed
  &.closed {
    display: none;
  }
}
.modal {
  position: fixed;
  top: 50px;
  left: 0px;
  right: 0px;
  margin: 0 auto;
  display: block;
  background: #fff;
  padding: 50px;
  width: 600px;
  height: 1000px;
  max-width: 100%;
}

.open-modal {
  text-decoration: none;
}

.ui-helper-hidden-accessible:last-child {
  display: none;
}

.force-open {
  display: inline !important;
}
