// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*PREQUISITES*/
$color-main: #568203;
$color-secondary: #568203;
$lato: 'Lato', sans-serif;

/*MAIN*/

body {
  margin: 0;
  font-family: $lato;
}

#header {
  display: flex;
  background-color: #568203;
  width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
}

#logo {
  width: 20%;
  height: 5%;
  order: 1;
}

#pantry, #fridge, #freezer {
  display: flex;
  width: 460px;
  float: left;
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
  height: 100%;
  margin-top: 10px;
}

#fridge {
  background-color: blue;
}

.subtitle {
  color: #4a585e;
  font-size: 25px;
}

 /*MAYANK IS NOT VERY COOL*/

.card {
  border-radius: 10px;
  color: white;
  padding: 20px;
  margin-top: 10px;
  height: 60px;
}

.expired {
  background-color: #ee4433;
}

.soon {
  background-color: #ffaa22;
}

.indate {
  background-color: #78a425;
}

#plus_button {
  border-radius: 50%;
  background-color: #568203;
  padding: 20px;
  width: 20px;
  height: 20px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  text-align: center;
  font-size: 30px;
  line-height: 20px;
  color: white;
  margin-top: 10px;
}