/*PREQUISITES*/
$color-main: #568203;
$color-main-dark: #346001;
$color-secondary: #568203;
$lato: 'Lato', sans-serif;

/*MAIN*/

body {
  margin: 0;
  font-family: $lato;
}

#header {
  display: flex;
  background-color: #568203;
  width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
}

#footer {
  position: static;
  margin-bottom: 0;
  background-color: $color-main-dark;
  height: 20px;
}

#logo {
  width: 7.5%;
  height: 1.875%;
  order: 1;
  padding: 20px;
}

#content{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.pantry, .fridge, .freezer {
  display: flex;
  width: 25%;
  display: block;
  margin-top: 10px;
  text-align: center;
  position: absolute;
}

.pantry {
  order: 1;
}

.fridge {
  order: 2;
}

.freezer {
  order: 3;
}

.subtitle {
  color: #4a585e;
  font-size: 25px;
}

 /*MAYANK IS THE COOLIEST*/
 
 #plus_button {
  border-radius: 50%;
  background-color: #568203;
  padding: 20px;
  width: 20px;
  height: 20px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  text-align: center;
  font-size: 30px;
  line-height: 20px;
  color: white;
  margin-top: 10px;
}
 
/* CARD STYLING */

.card {
  border-radius: 10px;
  color: white;
  padding: 20px;
  margin-top: 10px;
  height: 60px;
}

.expired {
  background-color: #dd3322;
}

.soon {
  background-color: #ffaa22;
}

.indate {
  background-color: #78a425;
}

#plus_button {
  border-radius: 50%;
  background-color: #568203;
  padding: 20px;
  width: 20px;
  height: 20px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  text-align: center;
  font-size: 30px;
  line-height: 20px;
  color: white;
  margin-top: 10px;
}