/*PREQUISITES*/

@import "prequisites";

/*MAIN*/

body {
  margin: 0;
  font-family: $lato;
}

a {
  color: inherit;
}

.user1{
  width: 70%;
  margin-right: auto !important;
  margin-left: auto !important;
  @media (max-width: 600px) {
    width: 98%;
  }
}

#header {
  display: flex;
  background-color: #568203;
  width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  box-shadow: 0 0 5px $color-shadow;
  height: 60px;
  line-height: 60px;
  align-items: center;
}

#logo {
  height: 30px;
  order: 1;
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#menu {
  order: 2;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  a {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

}

#footer {
  position: fixed;
  background-color: $color-main-dark;
  height: 30px;
  bottom: 0;
  width: 100%;
  line-height: 30px;
  color: white;
  text-align: center;
  box-shadow: 0 0 5px $color-shadow;
  z-index: 4;
  font-size: 10px;
}

#content {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 40px;
}

.no-dec {
  text-decoration: none;
}

.pantry, .fridge, .freezer {
  display: flex;
  width: 25%;
  display: block;
  text-align: center;
  margin-top: 20px;
}

h1.subtitle {
  color: $color-subtitle;
  font-size: 40px;
  margin: 0;
}

 /*NEENA IS DEFO THE UNCOOLIEST*/

/* CARD STYLING */

.food_expiry {
  border-radius: 50%;
  background-color: $color-button-light;
  padding: 20px 0 20px 0;
  width: 60px;
  height: 20px;
  opacity: 0.8;
  position: relative;
  line-height: 20px;
  font-size: 15px;
  color: white;
}

.food_title {
  color: white;
  font-size: 20px;
  text-align: left;
  padding-left: 20px;
  display: flex;
  justify-content:center;
  align-content:center;
  flex-direction:column;
  font-weight: 200;
}

/* BUTTONS and LINKS */

.plus_button {
  border-radius: 50%;
  background-color: $color-button;
  padding: 20px;
  width: 20px;
  height: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  position: relative;
  text-align: center;
  font-size: 30px;
  line-height: 20px;
  color: white;
  box-shadow: 0 0 5px $color-shadow;
}

.plus_link {
  border-radius: 50%;
  border: 3px solid white;
  padding: 8px;
  width: 19px;
  height: 19px;
  position: relative;
  text-align: center;
  font-size: 30px;
  line-height: 19px;
  color: white;
  margin-right: 20px;
  //margin-bottom: 4px;
}

.recipe_link {
  width: 30px;
  height: 40px;
  margin-right: 20px;
  //margin-bottom: -12px;
}

.donate_link, .dashboard_link {
  width: 40px;
  height: 40px;
  margin-right: 20px;
  //margin-bottom: -12px;
}

.profile_link {
  border-radius: 50%;
  position: relative;
  color: white;
  height: 80px;
  width: 80px;
  margin-right: 20px;
  border: 3px solid white;
  margin-top: 18px;
}

.recipe_button {
  width: 32px;
  height: 40px;
}

.other_buttons {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  width: 100%;
  align-items: center;
}

.donate_button, .done_button, .trash_button {
  width: 30px;
  height: 30px;
  padding-left: 20px;
}

.donate_button:hover, .trash_button:hover,  .done_button:hover, .recipe_button:hover {
  opacity: 0.8;
}
.donate_button {
  order: 1;
}
.done_button {
  order: 2;
}
.trash_button {
  order: 3;
}
/*overlays for images*/

.expired,.soon,.indate {
  //opacity: 0.3;
}

.expired {
  background-color: #dd3322;
}

.soon {
  background-color: #ffaa22;
}

.indate {
  background-color: #78a425;
}

 /*PROFILE*/

.user1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px;
}

.avatar {
  border-radius: 50%;
  width: 10%;
  height: 10%;
  box-shadow: 0 0 5px $color-shadow;
  position: relative;
  margin-right: auto;
  margin-left: auto;
}

#error_explanation h2 {
  font-size: 15pt;
}

.name {
  text-align: center;
}

.info1 {
  text-align: center;
  margin-bottom: 15px;
}

.row {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  // margin: 0.5em 0;
  // float: left;
  clear: both;

  background: transparent;

    i {
      color: $color-main;
      border: 2px solid $color-main;
      border-radius: 50%;
      padding: 1em;
      position: relative;
      background: transparent;
      cursor: pointer;
      display: inline-block;
      // @include transition(all 0.15s ease)
    }

      i:hover {
         background: $color-main;
         color: white;
         top: -2px;
      }

      i:not(:first-child){
         margin-left: 1em;
      }
}

.icon-facebook {

}

.profile {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.stats {
  order: 1;
}

.leaderboard {
  order: 2;
}


/*LEADERBOARD*/

.leaderboard {
    position:relative;
    width:70%;
    height:70%;
    // max-width:960px;
    // min-width:400px;
    // min-height:600px;
    margin: 30px auto 0 auto;
    padding:3%;
}

.leaderboard h1{
    font-family: $lato;
    text-align: center;
    text-transform: uppercase;
    margin:30px;
    padding:0;
    color: $color-main;
}

.content {
    position:relative;
    width:70%;
    margin:3px auto 0 auto;
    min-width:300px;
}

.content ul{
    margin:0;
    padding:0;
    list-style: none;
    border:5px solid $color-button;
    background-color: $color-button-light;
}
.content ul li{
    position: relative;
    color: white;
    font-family: $lato;
    padding:2% 5%;
    border-bottom: 1px solid $color-button;
}

.content ul li:last-child{
    border-bottom:none;
}

.name{
    font-weight:bold;
}
.count{
    display:inline-block;
    float:right;
    color: white;
    font-weight:bold;
}
.count:after{
    content:' Points';
    color: white;
    font-size:80%;
    font-weight:normal;
}


/********* BLING **********/
.content ul{
    border-radius: 20px;
}

.animate {
    -moz-animation: flashIt 0.2s ease 1;
    -webkit-animation: flashIt 0.2s ease 1;
    animation: flashIt 0.2s ease 1;
}

.animate .countold{
    -moz-animation: spinIt 0.3s ease 1;
    -webkit-animation: spinIt 0.3s ease 1;
    animation: spinIt 0.3s ease 1;
}


@-moz-keyframes flashIt {
    100% { opacity: 0; background-color: #FFF;}
}
@-webkit-keyframes flashIt {
    100% { opacity: 0; background-color: #FFF;}
}
@keyframes flashIt {
    100% { opacity: 0; }
}

@-moz-keyframes spinIt {
    20% {-moz-transform: rotate(-10deg)}
    40% {-moz-transform: rotate(10deg)}
    60% {-moz-transform: rotate(-10deg)}
    80% {-moz-transform: rotate(10deg)}
    100% {-moz-transform: rotate(-10deg)}
}
@-webkit-keyframes spinIt {
    20% {-webkit-transform: rotate(-10deg)}
    40% {-webkit-transform: rotate(10deg)}
    60% {-webkit-transform: rotate(-10deg)}
    80% {-webkit-transform: rotate(10deg)}
    100% {-webkit-transform: rotate(-10deg)}
}
@keyframes spinIt {
     20% {transform: rotate(-10deg)}
     40% {transform: rotate(10deg)}
     60% {transform: rotate(-10deg)}
     80% {transform: rotate(10deg)}
     100% {transform: rotate(-10deg)}
 }

.share-link {
  margin-left: 15px;
}

.share-icon {
  height: 13px !important;
}

.share-icon-exep {
  height: 13px !important;
  width: 13px !important;
}

/*FOODBANKS*/
// .foodbanks {
//   margin: 10px;
// }
//
// .number {
//   position: relative;
//   margin-right: auto;
//   margin-left: auto;
//   width: 60%;
//   text-align:center;
//   font-family: $lato;
//   background-color: $color-button;
//   border-radius: 40px;
//   box-shadow: 0 0 5px $color-shadow;
// }
//
// .number h1 {
//   color: white;
//   padding: 10px;
// }
//
// .banks {
//   font-family: $lato;
//   display: flex;
//   align-items: flex-start;
//   -webkit-flex-direction: column;
//   flex-direction: row;
// }
//
// .banklist {
//   list-style-type: none;
//   color: white;
//   margin-top: 0;
// }
//
// .bank {
//   background-color: $color-main-light;
//   width: 50%;
//   box-shadow: 0 0 5px $color-shadow;
//   margin: 10px;
//   padding-top: 20px;
//   padding-bottom: 20px;
//   padding-right: 50px;
//   padding-left: 50px;
//   color: inherit;
// }
//
// // .banklink {
// //   font-size: 30pt;
// // }
//
// // .bankname {
// //   font-size: 30pt;
// // }
//
// .donating {
//   color: white;
//   margin-top: 10px;
//   position: relative;
//   padding: 15px 15px 30px 15px;
//   background: $color-main-light;
// }
//
// .donating:after {
//   background: linear-gradient(-45deg, #ffffff 16px, transparent 0), linear-gradient(45deg, #ffffff 16px, transparent 0);
//   background-position: left-bottom;
//   background-repeat: repeat-x;
//   background-size: 32px 32px;
//   content: " ";
//   display: block;
//   position: absolute;
//   bottom: 0px;
//   left: 0px;
//   width: 100%;
//   height: 32px;
// }
//
// #gps-link{
//   display: none;
// }
//
// a.button {
//   align-items: flex-start;
//   text-align: center;
//   cursor: default;
//   color: buttontext;
//   padding: 2px 6px 3px;
//   border: 2px outset buttonface;
//   border-image-source: initial;
//   border-image-slice: initial;
//   border-image-width: initial;
//   border-image-outset: initial;
//   border-image-repeat: initial;
//   background-color: buttonface;
//   box-sizing: border-box;
//   border-radius: 20px;
//   border: 3px solid #3d4F55;
//   padding: 5px;
//   margin-top: 10px;
// }

.scan {
  position: relative;
  padding: 8px 8px 50px 8px;
  background: #78a425;
}

.scan:after {
  background: linear-gradient(-45deg, #ffffff 16px, transparent 0), linear-gradient(45deg, #ffffff 16px, transparent 0);
  background-position: left-bottom;
  background-repeat: repeat-x;
  background-size: 32px 32px;
  content: " ";
  display: block;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 32px;
}
